<!DOCTYPE html>
<html xmlms:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Students List</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="d-flex justify-content-center align-items-center flex-column vh-100">
	<H1>Students</H1>
	<table class="table w-50 rounded">
		<thead class="bg-success text-white ">
			<th scope="col">Code</th>
			<th scope="col">Name</th>
			<th scope="col">Lastname</th>
			<th scope="col">Carne</th>
			<th scope="col">Carrera</th>
		</thead>
		<th:block th:each="student, row: ${students}">
			<tr>
				<td th:text="*{student.userId}"/>
				<td th:text="*{student.name}"/>
				<td th:text="*{student.lastname}"/>
				<td th:text="*{student.carne}"/>
				<td th:text="*{student.carrera}"/>
			</tr>
		</th:block>
	</table>
	
	<br>
	<br>
	<button class="btn btn-dark"><a class="text-decoration-none text-white p-3" href="/inicio">Volver</a></button>

</body>
</html>